streamlit
thinc>=8.1.0
pandas
altair
numpy
re
spacy==3.5.0
requests
collections
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0-py3-none-any.whl


