streamlit==1.29.0
pandas==2.0.3
altair==5.2.0
numpy>=1.25.0
spacy==3.7.4
requests==2.31.0
beautifulsoup4>=4.11.0
lxml>=4.9.0
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl